<div id="profile_settings" class="di_module_large">
	<h3 class="span-13"><span>Profile Info</span></h3>
	<div class="di_module_header_tail"></div>
	<%= render 'form' %>
	<%= link_to 'View my public profile', @profile %>
</div>