// Here is where you can define your constants for your application and to configure the blueprint framework.
// Feel free to delete these if you want keep the defaults:

$blueprint-grid-columns: 24;
$blueprint-grid-width: 30px;
$blueprint-grid-margin: 10px;

// If you change your grid column dimensions
// you can make a new grid background image from the command line like this:
// compass grid-img 30+10x16

//dateideas custom colors
$di-cyan: #40C0CB;
$di-green: #AEE239;
$di-button-green: #a2d235;
$di-light-green: #75cdd5;
$di-darker-green: #98c631;
$fancy-green: darken(#57b42c, 8);

//dateideas colors for various elements
$body-bg-color: #F7F7F7;
$container-bg-color: $body-bg-color;
$header-bg-color: #000;
$header-txt-color: #FFF;
$nav-bg-color: $header-bg-color;
$sidebar-right-bg-color: #F9F2E7;
$sidebar-left-bg-color: #FFF;
$footer-bg-color: #FFF;

$loud-bg-color: #FFF;
$quiet-bg-color: #FFF;
$quiet-pink: #FFF;

$link-color: $di-cyan;
$link-visited-color: $di-cyan;
$link-active-color: $di-cyan;

/* // for fancy buttons (not currently used)
$fancy-green: darken(#57b42c, 8);
$fancy-orange: #F0EEE4;
$fancy-silver: #B7B7B7;
$fancy-red: adjust_hue($fancy-green, -100); */

.span_page {
    width: 100%;
}

