// Here is where you can define your constants for your application and to configure the blueprint framework.
// Feel free to delete these if you want keep the defaults:

$blueprint-grid-columns: 24;
$blueprint-grid-width: 30px;
$blueprint-grid-margin: 10px;

// If you change your grid column dimensions
// you can make a new grid background image from the command line like this:
// compass grid-img 30+10x16

/*//dateideas custom colors
$nav-bg-color: #595959;
$container-bg-color: #FFF; 

$footer-bg-color: #333132;
$sidebar-bg-color: #424242;
$loud-bg-color: #ef416c;
$quiet-bg-color: #cccccc;
$quiet-pink: #f7efeb;

// dateideas blueprint base color definitions
$font-color: #333132; //coffee color
$loud-color: #FFF; // white
$header-color: #333132;
$loud-blue: #00c9f2;

$link-color: $loud-bg-color;
$link-visited-color: $loud-bg-color;
$link-active-color: $loud-bg-color;*/


$nav-bg-color: #595959;
$container-bg-color: #FFF; 

$footer-bg-color: #FFF;
$sidebar-bg-color: #FFF;
$loud-bg-color: #FFF;
$quiet-bg-color: #FFF;
$quiet-pink: #FFF;

// dateideas blueprint base color definitions
$font-color: #333132; //coffee color
$loud-color: #FFF; // white
$header-color: #333132;
$loud-blue: #00c9f2;

/*$link-color: $loud-bg-color;
$link-visited-color: $loud-bg-color;
$link-active-color: $loud-bg-color;*/ 

// for fancy buttons
$fancy-green: darken(#57b42c, 8);
$fancy-orange: #F0EEE4;
$fancy-silver: #B7B7B7;
$fancy-red: adjust_hue($fancy-green, -100);


