// dateideas custom css
.container {
	background:{
		color: $quiet-pink;
	};
}

body {
	a {
		@include hover-link;
	}
	background: {
		color: $loud-blue;
	}
}

hr {
	height:0px;
	background:{
		color: $quiet-bg-color;
	};
}

#header {
	#logo {
		padding: 5px;

	}
	#user_nav {
		padding: 5px;
		background:{
			color: $nav-bg-color;
		};
		a {
			@include loud_text;
		}
		ul {
			@include horizontal-list(4px, right);
		}
	}
	background: {
		color: $quiet-pink;
	}
}

#sidebar_left {
	@include pie-clearfix;
	width: 270px;
	height: 600px;
}

#content {
	margin: 0 auto;
	background: {
		color: $quiet-pink; //$quiet-bg-color;
	}
}

#main {
	padding-top: 5px;
	.poplight {
		@include quiet_link_button;
	}
}

#sidebar_right {
	height: 100%;
/*	padding-top: 0px;
	margin-top: 0px;*/
}

#footer {
	padding: 5px;
	@include loud_text;
	background:{
		color: $footer-bg-color;
	};
}

.dialog {
	display: none;
}

#di_related_info {
	padding-left: 0px;
	padding-right: 5px;
}
#di_venue_info {
	margin-top: 5px;
	ul {
		@include horizontal-list(4px, left);
	}
}

.admin {
		color: red;
}

/* Elements */
.add_button {
	@include fancy-button-structure(14px, 0.30em, 1px);		         
	@include fancy-button-colors($fancy-green);
}

.add_button_mute {
	@include fancy-button-structure(12px, 0.1em, 1px);		         
	@include fancy-button-colors($fancy-silver);
}

.remove_button {
	@include fancy-button-structure(14px, 0.30em, 1px);		         
	@include fancy-button-colors($fancy-red);
}

.remove_button_mute {
	@include fancy-button-structure(12px, 0.1em, 1px);		         
	@include fancy-button-colors($fancy-red);
}

/* styles for pinning various elements on the page */
.pin-left {
	position: fixed;
	top: 10px;
	width: 270px;
}

.pin-right {
	position: fixed;
	top: 10px;
	width: 220px;
}

.pin-info {
	position: fixed;
	top: 280px;
	width: 220px;
}


