/* DateIdeas application-wide styles */

.ui-datepicker {
	background-color: #FFF;
	background: #eceadf url(images/ui-bg_fine-grain_10_eceadf_60x60.png) 50% 50% repeat;
}

body {
	font-family: Helvetica !important;
/*	font-size: 20px;*/
	background: $body-bg-color url('/images/di-body-background-1.png') repeat fixed;
	input[type="text"], input[type="password"]{
		color: black;
		border-radius: 4px;
		width: 200px;
	}

	a {
/*		@include unstyled-link;*/
		text-decoration: none;
		color: $link-color;
	}
}

h1.venue {
	font-size: 40px;
	color: #558b97;
}
hr {
	border:0px !important;
}

form {
	select, input {
		font-family: Helvetica;
		font-size: 16px;
	}

	textarea {
		width: 200px;
		height: 150px;
		font-size: 16px;
	}
}

fieldset {
	border: 0;
}

#header {
	height: 75px;
	background-color: $header-bg-color;
	color: $header-txt-color;
	a {
		color: $header-txt-color;
	}
	#logo {
        padding-top:5px;
	}
	#user_nav {
	    position: absolute;
		right: 15%;
        top:5px;
		ul {
			@include horizontal-list(10px, left);
            padding-top:25px;
            float:right;
			font:{
				size: 16px;
			};
		}
	}
}

#content {
	margin: 0 auto;
	height: 100%;
}

#sidebar_left {
	@include pie-clearfix;
	padding-top: 20px;
	height: 600px;
}

#sidebar_left_content, #sidebar_right_content {
	margin-left: 20px;
}

#main {
	@include heading2;
	padding-top: 20px;
}

#sidebar_right {
	padding-top: 20px;
	background-color: $sidebar-right-bg-color;
}

#sidebar_right_pinned {
	background-color: $sidebar-left-bg-color;
}

#footer {
	@include horizontal-list(10px, left);
	font-size: 14px;
}

.dialog {
	display: none;
}


.admin {
	color: red;
}

/* Site Elements */

/* Submit Buttons */
#profile_submit, #user_submit, .di_button {
	@include di_button(16px, $di-green);
}

/* Use the blue icons from jquery-ui */
.ui-state-dateideas .ui-icon { 
	background-image: url(../images/ui-icons_3572ac_256x240.png); 
}

/* container for headers with ribbon backgrounds */
.ribbon_header {
	@include pie-clearfix;
	@include heading3;
}

/* adds a ribbon tail graphic to headers */
.di_module_header_tail {
	float: left;
	background: url("/images/right_tail_shorter-1.png") no-repeat right;
	height: 37px;
	width: 30px;
}

/* containers for a page module */
.di_module_section {
	padding-top: 5px;
	
	fieldset {
		text-align: center;
	}
}

.di_module {
	@include heading5;
	margin-bottom: 20px;
	
	fieldset {
		padding:0;
		margin-bottom: 15px;
	}
}

.di_module_large {
/*	@include heading3;*/
	margin-bottom: 50px;
}

.di_module_medium {
	@include heading4;
	padding-left: 20px;
}

.di_module_container {
	@include results_container;
	@include pie-clearfix;
	h1 {
		color: $di-darker-green;
	}
}
.subcontainer {
	float:left;
	margin-right: 15px;
}
/* Various ajax loaders */
/* with container fading */
.ajax_load_and_fade {
	opacity: 0.2;
	background: #FFF url('/images/ajax-loader-large.gif') no-repeat fixed center;
}

.ajax-hidden {
	display:none;
}

/* styles for pinning various elements on the page */
.pin-left {
	position: fixed;
	top: 10px;
	width: inherit;
}

.pin-right {
	position: fixed;
	top: 10px;
	width: inherit;;
}

.pin-datepicker {
	position: fixed;
	top: 300px;
	width: inherit;;
}

.pin-info {
	position: fixed;
	top: 280px;
	width: inherit;
}

.feedback, .error, .alert, .notice, .success, .info {
  padding: 0.5em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
}

.error, .alert {
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}

label.error {
    margin-left: 10px;
}
