#di_map {
	margin: 5px;
}

#di_datecart {
	@include heading6;
	ul {
		padding-left: 0;
		margin-left: 0;
		@include no-bullets;
	}
	li {
		padding-bottom: 20px;
	}		
	fieldset {
		text-align: center;
	}
}

fieldset {
	border: 0px;
}

#di_cart_front {
	ul {
		text-align: left;
		margin-bottom: 5px;
		.list_item {
			width: 207px;
		}
		.icon {
			width: 20px;
		}
	}
	p {
		padding:{
			top: 5px;
			bottom: 10px;
		};
		margin: 0;
		text-align: center;
	}
	margin: 5px;
	padding: 0px;
	
}

.ui-state-dateideas {
	@include pie-clearfix;
	position:relative;
	left: 50px;
	a {
		span {
			float: left;
		}
	}
}

#di_datecart_functions {
/*	@include horizontal-list(2px);*/
/*	@include inline-block-list;*/
	ul {
		@include no-bullets;
	}
}

#di_cart_status {
	text-align: center;
	color: #999999;
	font-size: small;
}

.datecart {
	padding: 0;
}

/*$green: darken(#57b42c, 8)
$blue: adjust_hue($green, 110)
$red: adjust_hue($green, -100)
$heart_button: saturate(lighten($red, 2), 20)
*/

/* Styles for Datecart buttons */
.function_buttons {
/*	@include fancy-button-matte($fancy-silver, 10px, 0.30em, 1px);
	@include fancy-button-colors-matte(#ddd);   */
	@include di_button(14px, #aee239);
	width:100px;
	height:20px;
	text-align: center;
	li {
		padding-bottom: 10px;
	}
}

.datecart_buttons {
	@include fancy-button-matte(adjust_hue($fancy-green, 110), 14px, 0.30em, 1px);
}
                                   
