// dateideas custom css
.container {
	background:{
		color: $quiet-pink;
	};
}

body {
	h2 {
		margin-bottom: 0px;
	}
	a {
		@include hover-link;
	}
	background: {
		color: $loud-blue;
	}
}

hr {
	height:0px;
	background:{
		color: $quiet-bg-color;
	};
}

#header {
	#logo {
		padding: 5px;
		float: left;
	}
	#user_nav {
		padding: 5px;
		background:{
			color: $nav-bg-color;
		};
		a {
			@include loud_text;
		}
		ul {
			@include horizontal-list(4px, right);
		}
	}
	background: {
		color: $quiet-pink;
	}
}

#content {
	margin: 0 auto;
	padding-top: 20px;
	background: {
		color: $quiet-pink; //$quiet-bg-color;
	}
}

#sidebar_left {
	padding-top: 10px;
	@include pie-clearfix;
	height: 600px;
}

#sidebar_left_content, #sidebar_right_content {
	margin-left: 20px;
}

#main {
	h2 {
	}
}

#sidebar_right {
	padding-top: 10px;
	height: 100%;
}

#footer {
	padding: 5px;
	@include loud_text;
	background:{
		color: $footer-bg-color;
	};
}

.dialog {
	display: none;
}

#di_related_info {
	padding-left: 0px;
	padding-right: 5px;
}

#di_venue_info {
	margin-top: 5px;
	ul {
		@include horizontal-list(4px, left);
	}
}

.admin {
		color: red;
}

/* Site Elements */
/* Use the blue icons from jquery-ui */
.ui-state-dateideas .ui-icon { 
	background-image: url(../images/ui-icons_3572ac_256x240.png); 
}

.di_module_section {
	padding-top: 5px;
	fieldset {
		text-align: center;
	}
}

.di_module {
	margin-bottom: 20px;
	h4 {
		margin-bottom: 0px;
		text-align: center;
		background: {
			color: $nav-bg-color;
		};
		color: #FFF;
		@include border-top-radius(5px);
	}
	fieldset {
		padding:0;
		margin:0;
	}
}

.di_related_info {
	p {
		margin-top: 10px;
	}
}
.add_button {
	@include fancy-button-structure(12px, 0.10em, 1px);		         
	@include fancy-button-colors($fancy-green);
}

.remove_button {
	@include fancy-button-structure(12px, 0.10em, 1px);		         
	@include fancy-button-colors($fancy-red);
}

/* styles for pinning various elements on the page */
.pin-left {
	position: fixed;
	top: 10px;
	width: inherit;
}

.pin-right {
	position: fixed;
	top: 10px;
	width: inherit;;
}

.pin-info {
	position: fixed;
	top: 280px;
	width: inherit;
}


