/* CSS according to Jonathan's mockups */

.di_wizard {
	form,table {
		font: 18px helvetica;
	}
	#logo {
		padding:{
			bottom: 23px;
		};
	}
	h1 {
		font: bold 56px helvetica,arial,sans-serif;
		text-align: center;
		color: #535353;
	}
	select {
		/*font: 18px helvetica;*/
		width: 200px;
	}
	tr {
/*		background-color: #40c0cb;*/
		background-color: #FFF;
	}
	td {
		margin:0;
		padding: 0px 30px 0px 0px;
		height: 67px;
	}
	tr.blank {
		background-color: #FFF;
		height: 10px;
	}
	td.banner {
		background: #FFF url("/images/di_wizard_tail2.png") no-repeat;
	}
	td.question_text {
		background: url("/images/di_wizard_bg_sliver.png") repeat-x;
		padding-right: 20px;
		color: white;
		
		label {
			font-weight: normal;
		}
		
		text-align: right;
		text-transform: uppercase;
	}
}

.di_bullet{
  width: 5em; height: 5em;
  -webkit-border-radius: 5em; -moz-border-radius: 5em;
}

.di_results_main {
	@include pie-clearfix;
	.di_main_biz {
		.di_biz_photo {
			width:100px;
		}
	}
}

.di_biz {
	margin-top: 20px;
	padding: {
		top: 5px;
		bottom: 10px;
	}

	width: 400px;
	@include pie-clearfix;
	@include box-shadow(#CCC 2px 2px 1px);
	@include border-radius(5px);
	
	.di_biz_name {
	    font-weight: bold;
	}
	
	.di_biz_info {
		@include pie-clearfix;
		.di_biz_desc {
			float: left;
			width: 280px;
			margin: {
				left:10px;
				bottom:10px;
			}
			p {
				margin-bottom: 0.75em;
			}
		}
	}
	
	.di_biz_add {
		position: relative;
		left: 45px;
	}

	.di_biz_yelp_reviews {
	}
	
	.di_biz_hr {
		visibility: hidden;
	}
}

.di_biz_photo {
	float: left;
	display: block;
	border: 1px;
}

.ratings {
	@include horizontal-list;
	float: left;
	width:150px;
}

.di_main_biz {
	@include pie-clearfix;
	width:150px;
	float: left;
}

/* yelp logo */
.yelp-badge, .eventful-badge {
	float: left;
	margin-right: 10px;
	position: relative;
	left: 20px;
}

