.dashboard_item {
	@include pie-clearfix;
	.datecart_itinerary {
		@include pie-clearfix;
		margin-top: 25px;
		.business_static_map {
			float: left;
			margin-right: 25px;
		}
		.datecart_places {
			float: left;
		}

		ul {
			list-style-type: none;
			padding: 0;
		}
	}
	
	fieldset.datecart_notes {
		float: left;
		width: 170px;
		margin-right: 25px;
	}
	
	.datecart_share {
		float: left;
	}
	
	.datecart_actions {
		@include horizontal-list;
	}
	
	.dashboard_action_buttons {
		@include di_button(15px, $di-green);
		text-align: center;
		li {
			padding-bottom: 10px;
		}
	}
}
#upcoming_sig_dates {
	margin-top: 45px;
	p {
		font-weight: bold;
	}
	h3 {
		font-size: 20px;
		text-transform: uppercase;
		color: #4399a8; /* darker cyan */
	}
}
#sig_dates {
	margin-left: 30px;
	h5 {
		font-size: 14px;
		text-transform: uppercase;
		color: $di-green;
	}
}

#add_sig_dates {
	margin-top: 45px;
}