// dateideas custom css
.container {
	background:{
		color: $quiet-pink;
	};
}

body {
	a {
		@include hover-link;
	}
	background: {
		color: $loud-blue;
	}
}

hr {
	height:0px;
	background:{
		color: $quiet-bg-color;
	};
}

#header {
	#logo {
		padding: 5px;

	}
	#user_nav {
		padding: 5px;
		background:{
			color: $nav-bg-color;
		};
		a {
			@include loud_text;
		}
		ul {
			@include horizontal-list(4px, right);
		}
	}
	background: {
		color: $quiet-pink;
	}
}

#sidebar_left {
	@include pie-clearfix;
	width: 270px;
	height: 600px;
}

#content {
	margin: 0 auto;
	background: {
		color: $quiet-pink; //$quiet-bg-color;
	}
}

#main {
	padding-top: 5px;
	.poplight {
		@include quiet_link_button;
	}
	.add_button {
/*		@include quiet_link_button;*/
		@include fancy-button(#3AB700);
	}
}

#sidebar_right {
	height: 100%;
/*	padding-top: 0px;
	margin-top: 0px;*/
}

#footer {
	padding: 5px;
	@include loud_text;
	background:{
		color: $footer-bg-color;
	};
}

.dialog {
	display: none;
}

#di_venue_info {
	margin-top: 5px;
	ul {
		@include horizontal-list(4px, left);
	}
}
