#di_map {
	margin: 5px;
}
#di_datecart {
	h2 {
		font-size: 14px;
	}
	ul {
		padding-left: 0;
		margin-left: 0;
	}
/*	padding-top: 10px;*/
	@include no-bullets;

}
/*
#di_filter {
    margin: 5px;
}
*/

fieldset {
	border:0px;
}

#di_cart_front {
	h2 {
		text-align: center;
		background: {
			color: $nav-bg-color;
		};
		color: #FFF;
		@include border-top-radius(5px);
	}
	
	ul {
		margin-bottom: 5px;
	}
	p {
		padding:{
			top: 15px;
			bottom: 0px;
		};
		margin: 0;
		text-align: center;
	}
	margin: 5px;
	padding: 0px;
	
}

#di_datecart_functions {
	@include horizontal-list(2px);
}

fieldset .datecart {
	padding: 0;
}
/*$green: darken(#57b42c, 8)
$blue: adjust_hue($green, 110)
$red: adjust_hue($green, -100)
$heart_button: saturate(lighten($red, 2), 20)
*/
/* Styles for Datecart buttons */
.function_buttons {
	@include fancy-button-matte($fancy-silver, 10px, 0.30em, 1px);
	@include fancy-button-colors-matte(#ddd);   
}
.datecart_buttons {
	@include fancy-button-matte(adjust_hue($fancy-green, 110), 14px, 0.30em, 1px);
}
                                   
