#profile_settings {
	#profile_city, #profile_relationship_status {
		width: 180px;
	}
}

#profile_header {
	@include pie-clearfix;
	h1{
/*		font-size: 40px;
		position:relative;
		left: 20px;
		top: 50px;*/
	}
	ul {
		list-style-type: none;
	}
	span {
		font-weight: bold;
	}
	#pic, #info {
		float: left;
		text-align: center;
	}
	#info {
		padding-top: 40px;
	}
}

#profile {
	@include pie-clearfix;
	.di_module_container {
		margin-top:0px;
	}
	
	#dates_planned {
		@include pie-clearfix;
		h1 {
			/* hack to put text in 
			the center of a box - what's a better way?*/
			position: relative;
			top: 10px;
		}
	}
}

#date_plans {
	@include heading3;
	@include horizontal-list(10px, left);
}

#plan_date_button {
	@include di_button(25px, $di-green);
	width: 250px;
	height: 55px;
	position: relative;
	top: 50px;
	left: 20px;
	/* TODO: refactor this into the di_button */
	span {
		position: relative;
		left: 50px;
		top: 10px;
	}
}