/* Eventful required css for logo */
.eventful-badge,
.eventful-badge * {
  margin: 0             !important;
  padding: 0            !important;
  border: 0             !important;
  text-align: center    !important;
  color: #CCC           !important;
  font-family: Arial    !important;
  text-decoration: none !important;
}                                     
.eventful-small {     
  position: relative    !important;
  width: 100px          !important;
  font-size: 8px       !important;
  line-height: 8px     !important;
}

/* Events in the right sidebar */
.di_event {
	@include pie-clearfix;
}

.di_event_info {
	margin:0;
	padding-left: 2px;
	float: left;
}

.event_title_small {
/*	padding-top: 5px;*/
	@include small_header;
}

#event_venue_name,#event_address,#event_time {
	margin:0;
	padding-left: 2px;
}