/* dateideas application-wide custom css */
html, body {
	height: 100%;
}
body {
	h2 {
		margin-bottom: 0px;
	}
	a {
		@include hover-link;
	}
	background: {
		color: #FFF;
	}
}

hr {
	height:0px;
	background:{
		color: $quiet-bg-color;
	};
}

#header {
	height: 75px;
	background-color: #000;
	color: #FFF;
	a {
		color: #FFF;
	}
	#logo {
		padding-top: 10px;
		float: left;
	}
	
	#user_nav {
		float: right;
		padding-top: 25px;
		ul {
			@include horizontal-list(10px, left);
			font:{
				size: 16px;
			};
			color: #FFF;
		}
	}
}

#content {
	margin: 0 auto;
	height: 100%;
}

#sidebar_left {
	padding-top: 45px;
	@include pie-clearfix;
	height: 600px;
}

#sidebar_left_content, #sidebar_right_content {
	margin-left: 20px;
}

#main {
	padding-top: 45px;
	h2 {
		font-size: 25px;
		font-weight: bold;
		color: #535353;
	}
	.di_biz_name a {
		color: #40c0cb;
	}
}

#sidebar_right {
	padding-top: 45px;
	background-color: #F9F2E7;	
}

#sidebar_right_pinned {
	background-color: #FFF;
}
#footer {
	font-size: 14px;
	@include horizontal-list(10px, left);
}

.dialog {
	display: none;
}


.admin {
		color: red;
}

/* Site Elements */
/* Use the blue icons from jquery-ui */
.ui-state-dateideas .ui-icon { 
	background-image: url(../images/ui-icons_3572ac_256x240.png); 
}

.di_module_section {
	padding-top: 5px;
	fieldset {
		text-align: center;
	}
}

.di_module {
	margin-bottom: 20px;
	#di_module_header_tail {
		float: left;
		background: #FFF url("/images/right_tail_shorter.png") no-repeat right;
		height: 35px;
		width: 31px;
	}
	h4 {
		margin:{
			right: 0px;
			bottom: 15px;
		}
		span {
			float: left;
			position: relative;			
			left: 20px;
			top: 10px;
			text-transform: uppercase;
		}
		span.icon {
			float: right;
			position: relative;
			top: 8px;
			left: -10px;
		}
		background: #FFF url("/images/sliver_shorter.png") repeat-x;
		color: #FFF;
		height: 35px;
		/* add box shadow */
	}
	fieldset {
		padding:0;
		margin-bottom: 15px;
	}
}



/* ajax update container fading */
.ajax_load_and_fade {
/*	background: rgb(255, 0, 0);*/
	opacity: 0.2;
	background: #FFF url('/images/ajax-loader-large.gif') no-repeat fixed center;
}

.ajax-hidden {
	display:none;
}

/* styles for pinning various elements on the page */
.pin-left {
	position: fixed;
	top: 10px;
	width: inherit;
}

.pin-right {
	position: fixed;
	top: 10px;
	width: inherit;;
}

.pin-info {
	position: fixed;
	top: 280px;
	width: inherit;
}


