#di_map {
	margin: 5px;
}
#di_datecart {
	h2 {
		font-size: 14px;
	}
	ul {
		padding-left: 0;
		margin-left: 0;
	}
/*	padding-top: 10px;*/
	@include no-bullets;

}
#di_filter {
    margin: 5px;
}

/*#sidebar_float {
	position:absolute;
	width:100px;
	height:500px;
	top:200px;
	left:10%;
/*	padding-top: 100px;*/
/*	background:#FFFFFF;
	border:2px solid #2266AA;
	z-index:100;
	@include pie-clearfix;*/
/*}*/

fieldset {
	border:0px;
}

#di_cart_front {
	h2 {
		text-align: center;
		background: {
			color: $nav-bg-color;
		};
		color: #FFF;
		@include border-top-radius(5px);
	}
	
	ul {
		margin-bottom: 5px;
	}
	p {
		padding:{
			top: 15px;
			bottom: 0px;
		};
		margin: 0;
		text-align: center;
	}
	margin: 5px;
	padding: 0px;
	
}

#di_datecart_functions {
		@include horizontal-list;
}

.loud_button {
	@include quiet_link_button;
}
