/* Wizard view */
.di_wizard {
	form, table {
		font: 18px helvetica;
	}
	table {
		margin-bottom: 12px;
	}
	h1 {
		font: bold 56px helvetica,arial,sans-serif;
		text-align: center;
		color: #535353;
		margin-bottom: 20px;
	}
	select {
		font-size: 18px;
		width: 200px;
	}
	tr {
/*		background-color: #40c0cb;*/
		background-color: #FFF;
	}
	td {
		margin:0;
		padding: 0px 30px 0px 0px;
		height: 67px;
	}
	tr.blank {
		background-color: #FFF;
		height: 10px;
	}
	td.banner {
		background: #FFF url("/images/di_wizard_tail2.png") no-repeat;
	}
	td.question_text {
		background: url("/images/di_wizard_bg_sliver.png") repeat-x;
		padding-right: 20px;
		color: white;
		
		label {
			font-weight: normal;
		}
		
		text-align: right;
		text-transform: uppercase;
	}
	
	#logo {
		padding:{
			bottom: 40px;
		};
	}
	
	#di_whatis_icons {
		padding-left: 30px;
		padding-top: 45px;
		padding:{
			left: 30px;
			top: 45px;
			bottom: 25px;
		};
	}

	#di_whatis_text {
		@include pie-clearfix;
		padding-bottom: 40px;
		p {
/*			padding: 0;
			margin: 0;
*/			display: inline;
			float: left;
			width: 210px;
			font: bold 16px helvetica;
			text-align: center;
		}
	}
}

/* Wizard: Large green search button */
.search-btn-large {
	@include di_button(26px, #aee239);
	width: 300px;
	height: 60px;
}

.di_bullet {
  width: 5em; height: 5em;
  -webkit-border-radius: 5em; -moz-border-radius: 5em;
}


