
#di_map {
	margin: 5px;
}

#di_datecart {
	@include heading6;
	background-color: #FFF;
	ul {
		padding-left: 0;
		margin-left: 0;
		@include no-bullets;
	}
	li {
		padding-bottom: 20px;
	}		
	fieldset {
		text-align: center;
	}

	textarea {
		width: 178px;
		height: 150px;
		font-size: 16px;
	}
	
	input {
		width: 145px;
	}
	
	.nofloat {
		float: none;
	}
	
	#date_notes {
		border: 1px solid #CCC;
		height: 100px;
		margin-bottom: 15px;
	}
	
	.editable {
		textarea {
			font-size: 12px;
			margin: 0;
			padding: 0;
		}
	}
	
	.ui-datepicker-trigger {
		position: relative;
		left: 30px;
		top: 8px;
	}
	
	#date_display {
		font-size: 12px;
	}
/*	.ui-datepicker-trigger {
/*		position:relative;
		left: 160px;
		top: 8px;
	}*/
}

fieldset {
	border: 0px;
}

#di_cart_front {
	ul {
		text-align: left;
		margin-bottom: 5px;
		.list_item {
			width: 207px;
		}
		.icon {
			width: 20px;
		}
	}
	p {
		padding:{
			top: 5px;
			bottom: 10px;
		};
		margin: 0;
		text-align: center;
	}
	margin: 5px;
	padding: 0px;
	
}

.ui-state-dateideas {
	@include pie-clearfix;
	position:relative;
	left: 50px;
	a {
		span {
			float: left;
		}
	}
}

#di_datecart_functions {
/*	@include horizontal-list(2px);*/
/*	@include inline-block-list;*/
	ul {
		@include no-bullets;
	}
}

#di_cart_status {
	text-align: center;
	color: #999999;
	font-size: small;
}

.datecart {
	padding: 0;
}

/*$green: darken(#57b42c, 8)
$blue: adjust_hue($green, 110)
$red: adjust_hue($green, -100)
$heart_button: saturate(lighten($red, 2), 20)
*/

/* Styles for Datecart buttons */
.function_buttons {
/*	@include fancy-button-matte($fancy-silver, 10px, 0.30em, 1px);
	@include fancy-button-colors-matte(#ddd);   */
	@include di_button(14px, $di-green);
	width:100px;
	height:20px;
	text-align: center;
	li {
		padding-bottom: 10px;
	}
}

.datecart_buttons {
	@include fancy-button-matte(adjust_hue($fancy-green, 110), 14px, 0.30em, 1px);
}
                                   
