#profile_settings, #user_settings {
	form {
        display: block;
        label {
            color: $di-light-green;
            font-size: 18px;
	    }

	 label.error {
	     font-size: 14px;
         color: #8A1F11;
	 }
    }
	#profile_city, #profile_relationship_status {
		width: 180px;
	}
}

#profile_header {
	@include pie-clearfix;
	h1{
/*		font-size: 40px;
		position:relative;
		left: 20px;
		top: 50px;*/
/*		margin-left: 20px;*/
	}
	ul {
		padding-left:0;
		list-style-type: none;
	}
	span {
		font-weight: bold;
	}
	#pic, #info {
		float: left;
	}
	#info {
		padding-top: 40px;
		margin-left: 20px;
	}
}

#profile {
	@include pie-clearfix;
	.di_module_container {
		margin-top:0px;
		p {
			font-weight: bold;
		}
	}
	
	#dates_planned {
		@include pie-clearfix;
		p {
			margin:0;
		}
		#number {
			height: 72px;
			h1 {
				font-size: 70px;
			}
		}
	}
}

#date_plans {
	@include heading3;
/*	@include horizontal-block-list(10px, left);*/

	#date_plans_content {
		margin-left: 20px;
	}
	ul {
		font-weight: bold;
		padding: 0;
		list-style-type: none;
		li {
			margin-bottom: 25px;
		}
	}
}

#plan_button {
	text-align: center;
}
#plan_date_button {
	@include di_button(25px, $di-green);
	width: 250px;
	height: 55px;
	span {
		position: relative;
		text-transform: capitalize;
		left: 45px;
		top: 10px;
	}
}

#plan_date_button_small {
	@include di_button(15px, $di-green);
	width: 120px;
}