<%= raw(display_cart_contents(@datecart)) %>

<div class="ui-state-dateideas">
	<%= link_to(wizard_index_path, :remote => true) do %>
			<span class="ui-icon ui-icon-plusthick"></span>
			<span><%= add_more_link_name(@datecart) %></span>
	<% end %>
</div>