<%# View of the cart shown at the front page %>
<style>
	.pin-cart {
		position: fixed;
		top: 10px;
		width: 220px;
	}
</style>

<fieldset id="di_cart_front">
	<h2>Your Date</h2>

	<div id="datecart_items">
		<%= render :partial => 'datecarts/datecart_items' %>
	</div>
	
	<%= render :partial => 'datecarts/datecart_functions' %>
</fieldset>