<fieldset>
<!-- <p id="notice"><%= notice %></p> -->
<h2> Your date </h2>
<ul><%= render @datecart.cart_items %></ul>
</fieldset>

<!-- TODO: empty cart -->
<%# link_to 'Edit', edit_datecart_path(@datecart) %>
<%# link_to 'Back', datecarts_path %>