<h1><%= @datecart.name %></h2>
<!-- TODO: prompt to set a date if no date is set -->
<h2>Time</h2>
<p><%= @datecart.datetime %></p>

<h2>My Notes</h2>
<p><%= @datecart.notes %></p>

<h2>My Itinerary </h2>

<ul>
	<% @datecart.cart_items.each do |item| %>
		<%= render :partial => 'shared/venue_item', :locals => {:business => item.business} %>
	<% end %>
</ul>