<script type="text/javascript"><%= render :partial => "form_javascript_validations" %></script>

<%= form_for(@datecart, :url => "/datecarts/#{@datecart.id}/complete", :id => "update_date_form") do |f| %>
    <%= render :partial => "common_form_elements", :locals => {:form => f} %>
    <div class="actions">
      <%= f.submit "Save" %>
    </div>
<% end %>
