<!-- print layout  -->
<h2>Your date -- Print</h2>
<p>Title: <%= @datecart.name %></p>
<p>When: <%= @datecart.datetime %></p>
<ul><%= render @datecart.cart_items %></ul>
<p>Notes for my date: <%= @datecart.notes %></p>