/*body {
	margin: 0; padding: 0;
	font: normal 10px Verdana, Arial, Helvetica, sans-serif;
	line-height: 1.8em;
	min-width: 1080px;
}
img {border: none;}
h1 {
	font: 3.5em normal Georgia, 'Times New Roman', Times, serif;
	padding: 20px;
	margin: 0;
}
h1 small{
	font: 0.3em normal Verdana, Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	display: block;
}
.container {width: 900px; margin: 0 auto; font-size: 1.2em;  color: #555;}
#content {	background: #f0f0f0; float: left; width: 100%;}
.post {
	margin: 0; padding: 10px 20px;
	float: left;
	width: 560px;
}*/
