/*body {
	margin: 0; padding: 0;
	font: normal 10px Verdana, Arial, Helvetica, sans-serif;
	line-height: 1.8em;
	min-width: 1080px;
}
img {border: none;}
h1 {
	font: 3.5em normal Georgia, 'Times New Roman', Times, serif;
	padding: 20px;
	margin: 0;
}
h1 small{
	font: 0.3em normal Verdana, Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	display: block;
}
.container {width: 900px; margin: 0 auto; font-size: 1.2em;  color: #555;}
#content {	background: #f0f0f0; float: left; width: 100%;}
.post {
	margin: 0; padding: 10px 20px;
	float: left;
	width: 560px;
}*/
.business_static_map {
    position: relative;
}

.map {
    position: relative;
    top:0px;
    
}

#gmaps4rails_map {
  width: 250px;
  height: 300px;
}
ul.yelp_review {
  list-style: none;
  margin-left: 0;
  padding-bottom: 7px;
  min-height: 83px;
  clear: both;
}
li.review_list_item_profile {
  float: left;
  margin: 0 15px 10px 0;
  margin-top: 0px;
  margin-right: 15px;
  margin-bottom: 10px;
  margin-left: 0px;
}
li.review_list_item_poster {
  margin: 0;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding: 4px 0 0;
  padding-top: 4px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  font-size: 10px;
}
li.review_list_item_excerpt {
  margin: 0;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding: 0;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  border: 0;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-style: initial;
  border-color: initial;
  font-size: 100%;
  line-height: 1em;
  font-family: inherit;
}
