<%
 	cart_items = @datecart.cart_items
	unless cart_items.blank?
       @cart_item = cart_items.find(:first, :conditions => ["business_id = :b", {:b => business.id}])
   end %>

<span id="add_to_date_<%= business.id %>">
  <% if @cart_item.nil? %>
		<%= render :partial => 'wizard/add', :locals => {:datecart => @datecart, :business => business, :venue_type => params[:venue_type]} %>
	<% else %>
		<%= render :partial => 'wizard/remove', :locals => {:datecart => @datecart, :business => business} %>
	<% end %>
</span>