<!-- This is the master view for event add/remove buttons -->
<span>
<!-- fetch event from cart -->

</span>
<span id="event">
<!-- Check if the event is in the cart, if its not in cart
	Show add button
	else if it is in the cart
	Show remove button
 -->
	<% if @cart_item.events.nil? %>
		<%= render :partial => 'add', :locals => {:datecart => @datecart, :event_id => TODO_EVENT_ID, :venue_type => 'event'} %>
	<% else %>
		<%= render :partial => 'remove', :locals => {:datecart => @datecart, :event_id => TODO_EVENT_ID} %>
	<% end %>
</span>

<span id="add_to_date_<%= business.id %>">

</span>