<div id="footer" class="container">
	<ul>
		<li>© 2011 Hill and Cooper Media Ltd.</li>
		<li>|</li>
		<li>User Agreement</li>
		<li>|</li>
		<li>Privacy Policy</li>
	</ul>
  <%= yield :scripts %>
</div>
