<% if user_signed_in? %>
	<ul>
		<li>Welcome <%= current_user.email %>.</li>
		<li><%= link_to "Sign out", destroy_user_session_path %></li>
		<li><%= link_to "Profile", profile_path(current_user.id) %></li>
	</ul>
	
<% else %>
	<ul>
		<li><%# link_to "Sign up!", new_user_registration_path %></li>
		<li><%= link_to "Login", new_user_session_path %></li>
	</ul>
<% end %>