<% if @user && @user.id %>
    <ul>
      <li><%= link_to "Account Settings", "/users/#{@user.id}/edit" %></li>
      <li><%= link_to "Profile", "/profiles/#{@user.id}" %></li>
      <li><a href="/users/sign_out">Log out</a></li>
    </ul>
<% else %>
    <ul>
      <!-- <li><%# link_to "Sign Up", new_user_session_path %></li> -->
      <li><a href="/users/sign_in">Login</a></li>
    </ul>
<% end %>


