<h3 class="di_biz_name"><%= link_to business.name, business_path(business) %></h3>
<div class="di_biz_info">
	<div class="di_biz_photo"><%= image_tag(business.photo_url) %></div>
	<div class="di_biz_desc">
		<p><%= business.dna_excerpt %></p>
		<p><%= display_address(business) %></p>
	</div>
</div>
