// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/_base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Import the non-default scaffolding module.
@import "blueprint/scaffolding";
/*@import "blueprint/colors";
@import "blueprint/topography";*/

// Generate the blueprint framework according to your configuration:
@include blueprint;
@include blueprint-scaffolding;

@import "fancy-buttons";

@import "compass/utilities/lists/horizontal-list";
@import "compass/typography/lists/inline-block-list";
@import "compass/utilities/links/hover-link";
/*@import "compass/utilities/links/bullets";*/

@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";

//dateideas styles
@import "mixins/aesthetics";
@import "partials/di-dashboard";
@import "partials/di-application";
@import "partials/di-events";
@import "partials/di-wizard";
@import "partials/di-datecart";
@import "partials/di-filters";
/*button { @include fancy-button(#2966a8); }*/
/* Styles all buttons with:
1. A shiny gradient based on #2966a8 (a nice blue)
2. Gradient style variations for :hover, :focus, and :active
3. White text with a darker blue text shadow
4. A dark blue border.
*/




