<div class="container">
<div class="content">
<h1>Home#index</h1>
<table>
  <tr>
    <td>
      <%= link_to "Wizard thingy", "/wizard"  %>
    </td>
    <td> | </td>
    <td>
        <%= link_to "Users thingy", users_path %>
    </td>
  </tr>
</table>

<p>Find me in app/views/home/index.html.erb</p>

<!-- debug -->
<% y session %>
</div>
</div>
