@mixin di_button($font-size, $button-color) {
	@include fancy-button-structure($font-size, 0.4em, 0px);
	@include fancy-button-colors-matte(darken($button-color, 8));
	/* override */
	font-family: Helvetica;
	
	/* courtesy of ZURB super awesome buttons */
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-top: 1px solid rgba(0,0,0,0.1);
/*	border-bottom: 1px solid rgba(0,0,0,0.25);*/
  	text-shadow: #3e5900 0px 1px 1px;
	
	&:hover {
		border-color:#e2e2e2;
		text-decoration: none;
	};
}

@mixin results_container {
	margin-top: 15px;
	padding: {
		left: 20px;
		top: 15px;
		bottom: 15px;
	}
	h3 {
		font-size: 20px;
	}
/*	width: 400px;*/
	border: 1px solid #e2e2e2;
	@include pie-clearfix;
/*	@include box-shadow(#CCC 2px 2px 1px);*/
	@include border-radius(5px);
}

/*  
 * Old results container style with right and bottom shadow borders (inspired by Foodspotting)
 * Not currently used
*/
@mixin results_half_container {
	margin-top: 20px;
	padding: {
		top: 5px;
		bottom: 10px;
	}
	h4 {
		margin-bottom: 5px;
	}
	width: 400px;
	@include pie-clearfix;
	@include box-shadow(#CCC 2px 2px 1px);
	@include border-radius(5px);
}