<div id="code_404" class="error_page">
	<img src="images/large_broken_heart.png" />
	<h1> We're heart broken that what you are looking for couldn't be found!</h1>
	<p> <%= link_to "Take me back", :back, :class => 'add_button' %></p>
</div>