<div id="code_500" class="error_page">
	<%= image_tag "large_broken_heart.png" %>
	<h1> We're heart broken that something went wrong! We're fixing it right now!</h1>
	<p> <%= link_to "Take me back", :back, :class => 'add_button' %></p>
</div>