<%# Add button for an item in the date cart %>
<a href="/datecarts/<%=datecart.id%>/cart_items?business_id=<%=business.id%>" class="add_button" data-method="post" data-remote="true" rel="nofollow">Add to Date</a>