<div id="di_breadcrumb" class="di_module">
	<h4>Your search</h4>
	<div id="di_breadcrumb_section">
		<fieldset>
			<ul id='search_params'>
				<li>'<%= get_display_text(params['venue']) %>'</li>
				<li>in '<%= params['location'] %>' </li>
				<li>with '<%= params['price_point'] %>' prices</li>
			</ul>
		</fieldset>
	</div>
</div>