<% if @wizard.businesses.blank? %>
	<p>Sorry, we've got nothing for you this time :( Why don't you try another neighbourhood?</p>
<% else %>
	<% @wizard.businesses.each do |business| %>
		<div class="di_biz">
			<%= render :partial => 'shared/venue_item', :locals => {:business => business} %>
			<div class="di_biz_add">
				<%= render :partial => 'shared/review_button', :locals => {:business => business} %>
				<%= render :partial => 'shared/add_buttons', :locals => {:business => business, :cart_items => cart_items} %>
			</div>
		</div>
	<% end %>
<% end %>
<!-- TODO: Show a flash notice that update failed -->