<div id="di_filter" class="di_module">
	<h4 class="span-5 filter_header"><span> Let's get specific</span></h4>
	<div id="di_module_header_tail"></div>
	<hr/>
	<div id="di_filter_section" class="di_module_section">
		<%= render :partial => 'filter_form' %>
		<div class='filter_loaders ajax-hidden'>Loading ... <%= image_tag 'ajax-loader-small.gif' %></div>
	</div>
</div>
