<div id="di_filter" class="di_module">
	<%= generate_ribbon_header :h5, :"Let's Get Specific'", 5 %>
	<hr/>
	<div id="di_filter_section" class="di_module_section">
		<%= render :partial => 'filter_form' %>
		<div class='filter_loaders ajax-hidden'>Loading ... <%= image_tag 'ajax-loader-small.gif' %></div>
	</div>
</div>
