<%# View of the cart shown at the front page %>
<style>
	.pin-cart {
		position: fixed;
		top: 10px;
		width: 220px;
	}
</style>
<fieldset id="di_filter_front">
	<p><%= link_to "Neighbourhoods", wizard_index_path, :class => "datecart_buttons", :remote => true %></p>
</fieldset>