<div id="di_filter" class="di_module">
	<h4 class="filter_header">Let's get specific</h4>
	<div id="di_filter_section" class="di_module_section">
		<%= render :partial => 'filter_form' %>
	</div>
</div>
