<p>
	<ul class="ratings">
		<li><%= image_tag("thumbs_up.jpeg", :height => '16', :width => '16') %></li>
		<li><%= image_tag("thumbs_down.jpeg", :height => '16', :width => '16') %></li>
	<!-- <li><%# image_tag("unlock.png", :height => '16', :width => '16') %></li> -->
	</ul>
</p>