<!-- <div id="di_results_main"> -->
	<!-- <div class="di_main_biz">				    
		<div class="di_biz_photo"><%# image_tag(@wizard.restaurant.photo_url) %></div>
			<ul class="ratings">
				<li><%=#image_tag("unlock.png", :height => '16', :width => '16') %></li>
				<li><%=#image_tag("thumbs_up.jpeg", :height => '16', :width => '16') %></li>
				<li><%# image_tag("thumbs_down.jpeg", :height => '16', :width => '16') %></li>
			</ul>
		</div>
		<div class="di_main_biz">
			<div class="di_biz_photo"><%# image_tag(@wizard.activity.photo_url) %></div>
			<ul class="ratings">
				<li><%# image_tag("unlock.png", :height => '16', :width => '16') %></li>
				<li><%# image_tag("thumbs_up.jpeg", :height => '16', :width => '16') %></li>
				<li><%# image_tag("thumbs_down.jpeg", :height => '16', :width => '16') %></li>
			</ul>
		</div>
		<div class="di_main_biz">
			<div class="di_biz_photo"><%# image_tag(@wizard.dessert.photo_url) %></div>
			<ul class="ratings">
				<li><%# image_tag("unlock.png", :height => '16', :width => '16') %></li>
				<li><%# image_tag("thumbs_up.jpeg", :height => '16', :width => '16') %></li>
				<li><%# image_tag("thumbs_down.jpeg", :height => '16', :width => '16') %></li>
			</ul>
		</div>-->
	<!-- </div> -->