<% title("Wizard") %>
<%= stylesheet_link_tag("wizard.css") %>
<!--
<%# stylesheet_link_tag("http://jqueryui.com/demos/demos.css") %>
-->

<h1>Find the perfect date spoot.</h1>

<%= render 'form' %>

<!-- form_for doesn't appear to like binding to @wizard, a non-active record model object
		as Rails complains about a nil class Wizard. I've switched to using form_tags to pass parameters to the create action in the WizardController
 -->
