<% title("Wizard") %>
<%# stylesheet_link_tag("wizard.css") %>
<h1>Find the perfect date spot.</h1>
<div id="di_wizard_form">
	<%= render 'form' %>
</div>

<div id="di_whatis_icons">
	<%= image_tag 'di_whoarewe_icons.png'%>
</div>
<div id="di_whatis_text">
	<p>Save time and cut through the noise - Plan your date quickly.</p>
	<p class='prepend-1'>Ever forget a special day? Like an Anniversary? Never again!</p>
	<p class='prepend-1'>Be in the know of the best date spots</p>
</div>




