<%= content_for :content do %>
	<div id="main" class="span-14 append-1">
		<%= yield %>
	</div>
	
	<div id="sidebar_right" class="span-9 last">
			<%= yield :sidebar_right %>
	</div>
<% end %>

<%= render :file => 'layouts/application' %>