<% content_for :content do %>
	<div id="main" class="prepend-3 append-3 span-18">
		<div class='di_wizard'>
			<div id="logo" class="prepend-7">
				<%= link_to root_path do %> 
					<%=image_tag "logo_beta.png"%>
				<% end %>
			</div>
			<%= yield %>
		</div>
	</div>
<% end %>
<%= render :file => 'layouts/application' %>