<% content_for :content do %>
    <div id="wizard_main" class="prepend-5 append-5 span-14">
      <div class="di_wizard span-14 last">
        <div id="wizard_logo" class="prepend-4">
          <%= image_tag "di-logo-no-beta.png" %>
        </div>
        <%= yield %>
      </div>
    </div>
<% end %>
<%= render :file => 'layouts/application' %>